In [1]:
'ooyyy'.count('y')

3

In [3]:
a = ['BTS','IU','Blackpink','Twice']

for i in a:
  if i.startswith('B'):
    print(f'B로 시작하는 아이돌 {i}')

B로 시작하는 아이돌 BTS
B로 시작하는 아이돌 Blackpink

In [5]:
a = ['BTS','IU','Blackpink','Twice']

for i in a:
  if i.endswith('U'):
    print(f'U로 시작하는 아이돌 {i}')

U로 시작하는 아이돌 IU

In [7]:
res = '_'.join(a)
res

'BTS_IU_Blackpink_Twice'

In [8]:
res.find('I'), res.rfind('B')

(4, 7)

In [9]:
res.split('_')

['BTS', 'IU', 'Blackpink', 'Twice']

In [10]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')
titanic['age_class'] = pd.cut(titanic['age'], 3, labels=['child', 'young', 'old'])
titanic[['age', 'age_class']].head(10)

    age age_class
0  22.0     child
1  38.0     young
2  26.0     child
3  35.0     young
4  35.0     young
5   NaN       NaN
6  54.0       old
7   2.0     child
8  27.0     young
9  14.0     child

In [11]:
df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                  'c2':[1, 1, 1, 2, 2],
                  'c3':[1, 1, 2, 2, 2]})
print(df)
print('\n')

# 데이터프레임에서 중복 행을 제거
df2 = df.drop_duplicates()
print(df2)
print('\n')

# c2, c3열을 기준으로 중복 행을 제거
df3 = df.drop_duplicates(subset=['c2', 'c3'])
print(df3)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [12]:
import os
os.getcwd()

'/content'

In [13]:
os.listdir()

['.config', 'sample_data']

In [16]:
os.path.exists('./sample_data/mnist_test.csv')

True

In [17]:
os.path.basename('./drive/MyDrive'), os.path.dirname('./drive/MyDrive')

('MyDrive', './drive')

In [18]:
os.path.join(os.path.dirname('./drive/MyDrive'), os.path.basename('./drive/MyDrive') )

'./drive/MyDrive'

In [19]:
os.mkdir('./temp')

In [20]:
os.rename('./sample_data/anscombe.json', './sample_data/temp.json')

In [21]:
for curDir, dirs, files in os.walk(os.getcwd(), topdown=True):
  print(curDir, dirs, files)

/content ['.config', 'temp', 'sample_data'] []
/content/.config ['configurations', 'logs'] ['.last_survey_prompt.yaml', '.last_opt_in_prompt.yaml', 'config_sentinel', 'active_config', '.last_update_check.json', 'gce']
/content/.config/configurations [] ['config_default']
/content/.config/logs ['2022.09.26'] []
/content/.config/logs/2022.09.26 [] ['13.44.43.065608.log', '13.43.53.411838.log', '13.44.51.979721.log', '13.44.20.618810.log', '13.45.16.034312.log', '13.45.15.211900.log']
/content/temp [] []
/content/sample_data [] ['README.md', 'temp.json', 'mnist_test.csv', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_train_small.csv']