In [1]:
import numpy as np
import pandas as pd

In [2]:
test = pd.Series(np.random.randint(10, size=5))

In [3]:
test

0    9
1    4
2    6
3    0
4    2
dtype: int64

In [4]:
test2 = pd.Series({'Reinforcement learning': 'game AI',
 'Supervised learning': 'classification',
 'Unsupervised learning': 'clustering'})
test2

Reinforcement learning           game AI
Supervised learning       classification
Unsupervised learning         clustering
dtype: object

In [5]:
test = pd.Series(np.random.randint(10, size=5), index=list('ABCDE'))
test

A    3
B    1
C    2
D    3
E    4
dtype: int64

In [6]:
test.index, test.values

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([3, 1, 2, 3, 4]))

In [8]:
scalar_test = pd.Series(10, index=list('abcde'))
scalar_test

a    10
b    10
c    10
d    10
e    10
dtype: int64

In [9]:
test['A']

3

In [10]:
test.A

3

In [11]:
test[2:]

C    2
D    3
E    4
dtype: int64

In [12]:
test[::-1]

E    4
D    3
C    2
B    1
A    3
dtype: int64

In [13]:
data = {
    "name":['Minhyeok', 'Seojun','Juyoung'],
    "class":['python', 'RNN','practice']    
       }
data

{'name': ['Minhyeok', 'Seojun', 'Juyoung'],
 'class': ['python', 'RNN', 'practice']}

In [14]:
df = pd.DataFrame(data)
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

In [16]:
df = pd.DataFrame(data, index=["a","b","v"])
df

Index(['a', 'b', 'v'], dtype='object')

In [17]:
df.index

Index(['a', 'b', 'v'], dtype='object')

In [18]:
df.values

array([['Minhyeok', 'python'],
       ['Seojun', 'RNN'],
       ['Juyoung', 'practice']], dtype=object)

In [19]:
df.index = ['1번', '2번', '3번']
df

        name     class
1번  Minhyeok    python
2번    Seojun       RNN
3번   Juyoung  practice

In [20]:
df = pd.DataFrame(data)
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

In [21]:
df.loc[0]

name     Minhyeok
class      python
Name: 0, dtype: object

In [22]:
df.loc[0]['class']

'python'

In [23]:
df.loc[3] = {'name':'Adrian','class':'math'}
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice
3    Adrian      math

In [24]:
df['name']

0    Minhyeok
1      Seojun
2     Juyoung
3      Adrian
Name: name, dtype: object

In [25]:
list(df.columns)

['name', 'class']

In [26]:
df['age'] = [30,15,25,40]
df

       name     class  age
0  Minhyeok    python   30
1    Seojun       RNN   15
2   Juyoung  practice   25
3    Adrian      math   40

In [27]:
df.dtypes

name     object
class    object
age       int64
dtype: object

In [28]:
df.loc[2,'class']

'practice'

In [29]:
df[df['age']>25]

       name   class  age
0  Minhyeok  python   30
3    Adrian    math   40